<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ReportNG" verbose="1" >
 
 <listeners>
      <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
  </listeners>
  
  <test name="ClassTest1">
    <classes>
      <class name="TestNGPrograms.TestReportNG1"/>
    </classes>
  </test>
  <test name="ClassTest2">
    <classes>
      <class name="TestNGPrograms.TestReportNG2"/>
    </classes>
  </test>
</suite>